<div>
    <div class="page-header" align="center">
        <h1>Categories<small class="pull-right">Showing <span class="badge">{{categories.length}}</span> Categories</small></h1>
    </div>
    <div class="row">
        <div ng-repeat="category in categories">
            <div class="col-md-6">
                <div class="well well-sm">
                    <div class="row" ng-controller="tabController">
                        <div class="col-xs-3 col-md-3 text-center">
                            <img ng-src="{{category.imageUrl}}" class="img-circle img-responsive" />
                        </div>
                        <div class="col-xs-9 col-md-9 section-box">
                            <h2>{{category.name}}<a href="#/nominees" ng-click='selectedTab(category.id)'>&nbsp<span class="glyphicon glyphicon-new-window"> </span></a></h2>
                            <p>{{category.description}}</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
